# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# Конфигурация базы данных
DATABASE_HOST=localhost     # Хост для базы данных
DATABASE_USER=username      # Имя пользователя базы данных
DATABASE_PASSWORD=password  # Пароль базы данных
DATABASE_NAME=mydatabase    # Имя базы данных

# API-ключи
API_KEY_CURRENCY=your_api_key_currency_here
API_KEY_MARKETSTACK=your_api_key_marketstack_here